/* set variables for webpage */
:root {
    --pink: #e766ec;
    --white: #ffffff;
    --darkgrey: #343c43;
}

/* set box-sizing for all elements (alt box model)*/
html {
    box-sizing: border-box;
}

body {
    background-color: var(--darkgrey);
    margin: 20px 10px 20px 10px;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-evenly;
}

/* main webpage header */
#header {
    color: var(--pink);
    text-align: center;
}
 
/* paragraph within main header */
#header p {
    margin: 0px 50px 30px 50px;
    color: var(--white);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    
}

.main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }

/* include description class and inner box in main rule */


.snippet {

   color: var(--pink);
   border-style: dashed;
   border-width: 2px;
   border-color: var(--white);
   padding: 15px;
   margin: 20px 10px 20px 10px;
   flex: 0 0 400px;
  
}


.snip-header {
    font-size: 30px;
    padding: 10px;
    margin-top: -30px;
    margin-bottom: 10px;
    position: relative;
    border-color: var(--white);
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    
    background-color: var(--darkgrey);
}

.description {
    margin: 10px 0px;
}

pre {
    tab-width: 4;
}
.code-snip {
    font-family: monospace;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    background: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232,102, 236, 0.6) 100%);
    padding: 10px;
    border-radius: 8px;
      
}

/* indentations within the CSS code */
.indent {
    padding-left: 20px;
}

.dbl-indent {
    padding-left: 40px;
}

.code-snip .snip-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.code-snip:hover, .snippet:hover {
    box-shadow: inset 0px 0px 8px rgba(232,102, 236, 1), 0 0 15px rgba(232,102, 236, 1);
}

/* desktop viewport */
@media screen and (min-width: 993px) {
    main {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
  }

  @media screen and (max-width: 992px) {
    main {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
  }

  @media screen and (max-width: 768px) {
    main {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
  }